* {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

svg {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* === header ===*/

/* header-top */
.header-top {
    padding: 0;
    background-color: #a57ee7;
}

.header-top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 15px 0;
}

.shoping-cart, .heart {
    padding: 0 10px;
    height: 70px;
}

.icon:hover {
    background-color: #fff;
    transition: 1s;
}
/* /header-top */

/* header-content */
.header-content {
    padding: 15px 0;
    background-color: #fff;
}

.header-content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;

}

.nav-list__item + .nav-list__item{
    margin-left: 58px;
}

.header-content .active:hover {
    color: #a57ee7;
    transition: 0.5s;
}

.icon:hover {
    fill: #a57ee7;
    transition: 0.5s;
}

/* search bar style*/
.header-content-search {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 45px;
}

.search {
    margin: 0 15px 0 0;
    fill: #b2b2b2;
}

.header-content-search__bar {
    border: none;
    outline: none;
    background: none;
}
/* /search bar style*/
/* /header-top */

/* header-promotion */
.header-promotion {
    color: #fff;
    padding: 220px 0;
    background-size: cover;
    background-position: center;
}

.header-promotion .title {
    letter-spacing: 5px;
}

.header-promotion-inner {
    display: flex;
}

.header-promotion-left {
    padding: 0 60px;
    width: 50%;
}

.header-promotion-right {
    width: 50%;
}

.header-promotion-left__title-regular {
    font-weight: 400;
}

.header-promotion-right__title {
    font-size: 28px;
}

.header-promotion-right__text {
    display: inline-block;
    text-align: center;
    padding: 12px 75px;
    background-color: #1a2730;
    color: #fff;
    text-align: left;
}

.shop-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 3px solid #7a5cad;
    font-weight: 800;
    color: #fff;
    background-color: #a57ee7;
}

.dark {
    background-color: #1a2730;
    color: #fff;
}
/* === /Header === */

/* ==== Offers === */
.offers {
    font-family: 'Pacifico', cursive;
    color: #241d31;

}

.offers-inner {
    display: grid;
    grid-template-areas: "item1 item1 item2"
                         "item3 item4 item2";
}

.offers__item {
    display: flex;
    margin: 12px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.offers__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.item1, .item3 {
    margin-left: 0;
}

.item1 {
    grid-area: item1;
    padding: 50px;
}

.item2 {
    display: inline-block;
    grid-area: item2;
    margin-right: 0;
}

.item3 {
    grid-area: item3;
    padding: 180px 0;
}

.item4 {
    grid-area: item4;
    padding: 180px 0;
}

.item1__box, .item3__box, .item4__box {
    display: inline-block;
    padding: 25px 70px;
    background: rgba(255, 255, 255,0.4);   
}


.item1__box {
    text-align: center;
}

.item2__box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #a57ee7;
    border-radius: 100%;
    width: 170px;
    height: 170px;
    color: #fff;
}


.item1__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.item1__subtitle {
    font-size: 28px;
    margin-bottom: 10px;
}

/* ==== /Offers === */

/* === Featured items ===*/

/* === /Featured items ===*/